/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}   */





.main {
   
    background-image: url("tatuazh.png");
    height: 95vh;
}

.block1 {
    background-image: url("wall1.jpg");
    height: auto;
}

.block2 {
    height: auto;
   
    color: white;
}
.block2a {
background-image: url("wall2.png");
}
.block3 {
    height: auto;
    background: url(fonavatar.jpg);
   
}


.block4 {
    min-height: 29vh;
    height: auto;
    background-color: white;
    color: balck;
}

.block5 {
    height: auto;
    background-image: linear-gradient(to top, #000000, #1a1a1a, #2e2e2e, #434343, #595959);
    color: white;
}

.block6, .images {
    background-color: black;
}


.block7 {
    height: auto;
    background: url(fonavatar.jpg);
    color: black;
}

.block8 {
    height: 55vh;
    background-color: white;
    color: red;
}

.footer {
    height: auto;

    background-image: url("tatuazh.png");
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.col-3 img {
    width: 100%;
    border-bottom: 1px solid black;
}

.center {
    text-align: center;
}
#avatar{
    cursor: pointer;
    float: right;
}
.avatarText{
text-align: justify;
}
.review {
    text-align: center;
    min-height: 16vh;
}
#logo-footer{
width: 40%;
}
#logo{
   cursor: pointer;
   width: 201px;
   height: 82px;

          }

.fas, .fab{
    color: #fff;
  font-size: 30px;
   
}

.fab:hover{
font-size: 35px;
cursor: pointer;
}
.fa-viber:hover{
    color: #8858ad;
}
.fa-vk:hover{
    color: #5181b8;
}
.fa-instagram:hover{
    color: #c95e73;
}


.hide-block{
   border-radius: 0% 10% 10% 0;
 
}
.bold{
   font-weight: 600;
}
.light{
font-weight: 400;
}
.star{
   width: 1vw;
   height: auto;
}
.call-back {
   width: 100%;
}
.price-img {
width: 100%;
}
.hr{

}
.hr li {
display: inline;
}

.rounded {
    cursor: pointer;
counter-reset: li; 
list-style: none; 
font: 14px "Trebuchet MS", "Lucida Sans";
padding: 0;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rounded p {
position: relative;
display: block;
padding: .4em .4em .4em 2em;
margin: .5em 0;
background: #FFE4E1;
color: #444;
text-decoration: none;
border-radius: .3em;
transition: .3s ease-out;
}
.rounded p:hover {background: #E9E4E0;}
.rounded p:hover:before {transform: rotate(360deg);}
.rounded p:before {
content: counter(li);
counter-increment: li;
position: absolute;
left: -1.3em;
top: 50%;
margin-top: -1.3em;
background: #ed5249;
height: 2em;
width: 2em;
line-height: 2em;
border: .3em solid white;
text-align: center;
font-weight: bold;
border-radius: 2em;
transition: all .3s ease-out;
}

.album-btn, .feedback-btns, #logo-footer {
    cursor: pointer;
}

.header-list > li > a {
 color: white;
}
.header-list > li > a:hover{
    color:pink;
}



.online-form{
    width: 100vw;
    height: 100vh;
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    overflow: hidden;
    top:0px;
}
.modal-form {
    Min-width: 40vw;
min-height:45vh;
    top: 50%;                       
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 10px;
    position: fixed;
    border: 1px solid black;
    border-radius: 10px;
}

.modal-form__line {
    padding: 12px;
}

.service {
    width: 100%;
}

.modal-form__line > input, .modal-form__line > select, .modal-form__line > textarea {
    width: 100%;
    min-height:4vh;
    padding: 0 5%;
    font-size: 150%;
}
.modal-form__line:nth-child(5){
    display: flex;
    justify-content: inherit;
}

.close-btn {   
    font-size: 150%;
    position: absolute;
    top:0;
    right:0;
    display: inline-block;
}
.zoom-img {
width: auto;
max-width: 100%;
max-height: 1040px;
height: auto;
display: block;
line-height: 0;
box-sizing: border-box;
padding: 40px 0 40px;
margin: auto;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

.backdrop {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    overflow: hidden;
    top:0px;
}
.hidden{
    overflow: hidden;
}
.feedback-btns{
    position: relative;
    opacity: 0.5;
}
.feedback-btns:hover {
    position: relative;
    opacity: 0.6;
}
.feedback-btns:hover>.last-feedback-img,.next-feedback-img {
    
    opacity: 0.4;
}
.next-feedback{
    background-image: linear-gradient(to right, #000000, #1a1a1a, #2e2e2e, #434343, #595959);
}
.last-feedback{
    background-image: linear-gradient(to left, #000000, #1a1a1a, #2e2e2e, #434343, #595959);
}
.last-feedback-img, .next-feedback-img {
    height:10vh;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
    top:0px;
}
#carouselExampleControls{
    width: 100%;
    height: 100%;
}
.carousel-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#carouselExampleControls div img{
max-height: 100vh;
max-width: 100vw;
}
.form-control {
    padding: 0 5%;
    font-size: 150%;

}
